@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-3">Stephens Electronics</h1>
    <h2 class="display-4">Inventory Management System</h2>
    <p>Create and add new items to our nation wide database to keep our on hand inventory up to date.</p>
</div>
