@{
    ViewData["Title"] = "Stephens Electronics";
}

<div class="text-center">
    <h1 class="display-3">Stephens Electronics</h1>
    <h2 class="display-4">Inventory Management System</h2>
    <p>Create and add new items to our nation wide database to keep our on hand inventory up to date. On this site you will be bale to create individual items that get stored in a database to make it easier to update our on hand stock in our inventory database.</p>
</div>
