@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<h1>View Could not be found</h1>
<p>We are sorry but the view you have input cannot be found. Please try again</p>
